body {
  overflow: hidden;
  padding-left: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body .key {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #000;
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
}
body a {
  color: #00b7ff;
}
body audio {
  position: absolute;
}
body > div {
  margin-bottom: 5px;
  width: 1024px;
}
body > div #scorebox {
  float: right;
}
body canvas {
  border: 1px solid;
}
