border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

body
  overflow hidden
  padding-left 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  .key
    border-radius 3px
    border 1px solid black
    display inline-block
    min-width 1.5em
    text-align center
  a
    color #00B7FF
  audio
    position absolute
    visibility hidden
  > div
    margin-bottom 5px
    width 1024px
    #scorebox
      float right
  canvas
    border 1px solid
